@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans', 'Roboto', ui-sans-serif, system-ui, sans-serif;
}
body {
  @apply bg-white text-dark-gray;
}

.language-badge {
  @apply px-2 py-1 rounded uppercase tracking-wide text-xs font-bold;
  &.malayalam { background: theme('colors.malayalam'); color: white;}
  &.kannada { background: theme('colors.kannada'); color: white;}
  &.tamil { background: theme('colors.tamil'); color: white;}
  &.telugu { background: theme('colors.telugu'); color: white;}
  &.hindi { background: theme('colors.hindi'); color: white;}
}
.card-hover {
  @apply hover:shadow-lg hover:-translate-y-1 transition-all;
}

@layer utilities {
  .animate-ticker-scroll {
    animation: ticker-scroll 60s linear infinite;
  }
  @keyframes ticker-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
